{% extends "../base.html" %} 
{% load i18n %} 
{% load account socialaccount %}
{%block head_title %}{% trans "Sign In" %}{% endblock %} 
{% block content %} 
{% load crispy_forms_tags %}

<!-- Sign up link if user not registered -->
<div class="page-header mb-0"></div>
<div class="container "style="padding-top:100px;">
    <div id="index-splash" class="row justify-content-center text-light">
        <div id="text-column"
            class="col-9 col-md-7 col-lg-5 col-xl-4 bg-dark text-center border-top border-bottom border-end border-dark-subtle border-3">
            <div class="row">
                <div class="top-banner col pt-3 pb-2">
                    <h2 class="text-3xl md:text-4xl mb-2 font-title text-brown-600">
                        {% trans "Sign In" %}
                    </h2>
                    <p>{% blocktrans %}If you have not created an account yet, then please
                    <a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
                    </p>     
                </div>
            </div>
            <div class="row">
                <div class="opening-times col pt-2">
                    <!-- login form -->
                    <form class="login" method="POST" action="{% url 'account_login' %}" id="signin-form">
                        {% csrf_token %} {{ form | crispy }} {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <button class="primaryAction btn btn-lg submit-button" type="submit">
                                {% trans "Sign In" %}
                            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}