{% load i18n %}

<footer>
    <div class="container-fluid">
        <div class="row fixed-bottom bg-black text-white">
            <div class="col-5 col-md-4 col-lg-4">
                <h3>BrK2-Restaurant</h3>
                <p>Code Django Full-Stack Milestone Project<span class="d-none d-sm-inline">,No.4</span></p>
            </div>
            <!-- Icons -->
            <div class="col-7 col-md-4 col-lg-4 d-flex justify-content-end justify-content-md-center align-items-center">
                <h5>Follow Us:</h5>
                <div class="footer-icon d-flex justify-content-center align-items-center rounded-circle mx-1">
                    <a href="https://instagram.com" target="_blank" aria-label="Follow us on Instagram"><i
                            class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="footer-icon d-flex justify-content-center align-items-center rounded-circle ms-1 me-3 me-md-1">
                    <a href="https://facebook.com" target="_blank" aria-label="Follow us on Facebook"><i
                            class="fa-brands fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>