{% load static %}
{% load i18n %}

<header>
    {% with request.resolver_match.url_name as url_name %}
<nav class="navbar bg-dark border-bottom sticky-top navbar-expand-md" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <h1><i class="fa-light fa-user-chef"></i> Brk2Restaurant</h1>
        </a>
        <button class="navbar-toggler p-1 p-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end text-end outfit-bold text-uppercase" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}" aria-label="Navigates to the home page">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}" aria-label="Navigates to the home page">Contact</a> 
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'booking' %}" aria-label="Navigates to the booking page">Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}" aria-label="Navigates to the logout page">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'display_booking' %}" aria-label="Navigates to the profile page">
                        <span>Your Profile</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}" aria-label="Navigates to the register page">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}" aria-label="Navigates to the sign in page">Sign In</a>
                </li>
                {% endif %}
            </ul>
         </div>
     </div>
  </nav>
    {% endwith %}
 </header>