{% extends "base.html" %} 
{% block content %} 
{% load crispy_forms_tags %}

<!-- Booking form -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-7 col-md-6 col-lg-4 col-xxl-3 booking-form text-center shadow">
      <h3>Booking Form:</h3>
      <form method="post" id="customer-booking">
        {{ customer_form | crispy }} {{ booking_form | crispy }} {%csrf_token %}
            <button type="submit" class="btn btn-lg submit-button" aria-label="Submit booking">Submit</button>
      </form>
      <div class="col-sm-12 center-form">
          <p>
              If you would like to view your booking or make changes, please visit
              your
          <a href="{% url 'display_booking' %}" aria-label="Navigates to the profile page">
              <span>Your Profile</span>
          </a>
          </p>
      </div>
    </div>
  </div>
</div>    
{%endblock%}